.btn-primary {
    background-color: rgb(156, 36, 18);
    color: white;
    border: none;
}

.btn-secondary {
    border: none;
}


.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    height: 80%;
    width: 40%;
    margin-top: 3%;
    border: none;
}

button{
    margin-right: 2%;;
}