                        <div class="card">
                              <div class="card-body">
                                      <div class="logo">
                                                <img src="../../../assets/logo.png" alt="">
                                      </div>
                                        <div *ngIf="isRegister">
                                                        <h2 class="text-center">Login</h2>
                                                </div>
                                                <div *ngIf="!isRegister">
                                                        <h2>Registeren</h2>
                                                </div>
                                                
                                                <form (ngSubmit)="onSubmit()" #studentForm="ngForm" name="registerform">
                                                <div *ngIf="!isRegister">
                                                <p>Name:
                                                <input type="text" class="form-control" [(ngModel)]="model.name" name="name" required/></p>
                                                </div>
                                                <p>Email:
                                                <input type="text" class="form-control" [(ngModel)]="model.email" name="email" required/></p>
                                                <p>Password:
                                                <input type="password" class="form-control" [(ngModel)]="model.password" name="password" required/></p>
                                                <!-- <div *ngIf="!isRegister">
                                                        <p>Password:
                                                        <input type="password" class="form-control" [(ngModel)]="model.password" name="password" required/></p>
                                                </div> -->
                                                <ngb-alert *ngIf="isCorrect">Inloggen mislukt</ngb-alert>
                                                <button type="submit" class="btn btn-primary" [disabled]="!studentForm.form.valid || submitted">Submit</button>
                                                </form>

                                                <div *ngIf="isRegister">
                                                        <a (click)="onRegister()">Registeren</a>
                                                </div>
                                                <div *ngIf="!isRegister">
                                                        <a (click)="onLogin()">Login</a>
                                                </div>
                              </div>
                        </div>