


.btn-primary {
    background-color: rgb(156, 36, 18);
    color: white;
    border: none;
    margin: 5px;
}

.btn-secondary {
    color: white;
    border: none;
    margin: 5px;
}

.btn-verwijder {
    color: red;
    border: none;
    margin: 5px;
}

